<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <%= form_for review, url: product_reviews_path(product) do |form| %>

      <% if form.object.errors.any? %>
        <div class="alert alert-danger">
          <strong>The following errors prevented saving:</strong>
          <ul>
            <% form.object.errors.full_messages.each do |error| %>
              <li><%= error %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= form.label :rating %>
        <%= form.select :rating, options_for_select((1..5)), {}, class: 'form-control' %>

        <%= form.text_area :description, class: 'form-control' %>
      </div>

      <%= form.submit 'Add Review', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
